- @title = "House of Representatives written questions: Aotearoa New Zealand Parliament"

#primary_container
  %h1 Written Questions
  %ul
    %li="Replies: " + link_to("#{@statuses['reply']} questions", index_path(:status => "replies"))
    %li="Questions: " + link_to("#{@statuses['question']} questions", index_path(:status => "questions"))
    %li="Oldest unanswered question: " + link_to("#{distance_of_time_in_words_to_now @oldest_unanswered.date_asked} old", @oldest_unanswered)
  =render :partial => "questions", :locals => {:questions => @questions}