- @title = "Written Questions: Aotearoa New Zealand's Parliament "
%h1=link_to "Written Questions", written_questions_path
%h2 Questions By Member
%ul
  - for asker in @askers
    %li=link_to "#{asker[0].first} #{asker[0].last} asked #{asker[1]} questions", written_questions_by_asker_path(:name => asker[0].id_name)
