- @title = "Written Questions: Aotearoa New Zealand's Parliament "
%h1 Questions by Member
%h2 Mp Asking
%ul
  - for asker in @askers
    %li=link_to "#{asker[0].last}, #{asker[0].first} asked #{asker[1]} questions", written_questions_by_asker_path(:name => asker[0].id_name)