- @title = "Written Questions: Aotearoa New Zealand's Parliament "
%h1 Questions by Portfolio
%h2 Portfolios Asked
%ul
  - for portfolio in @portfolios
    %li=link_to "#{portfolio[0].portfolio_name} got asked #{portfolio[1]} questions", written_questions_by_portfolio_path(:name => portfolio[0].url)